<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="main-header">
        <nav class="headnav">
          <ul class="list">
            <li class="listitem"><a href="/">Shop</a></li>
            <li class="listitem">
              <a class="active" href="/admin/add-product">Add Product</a>
            </li>
          </ul>
        </nav>
      </header>
    <h1>page not found</h1>
</body>
</html>