.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.product-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
}

.product__title {
    text-align: center;
    font-size: 1.2rem;
}

.product__price {
    text-align: center;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}